.access-section {
  /* width: 600px; */
  z-index: -1;
  margin: 100px auto;
}
.access-section .access-image {
  position: relative;
}
.access-section .access-iphone {
  width: 250px;
  height: 550px;
  max-width: 256px;
}
.dotcircle {
  position: absolute;
  top: 170px;
  left: -5px;
  font-size: 270px;
  z-index: -1;
  color: #e9daf8;
}
.invest-section {
  margin-top: 2rem;
  margin: 0 auto;
}
.access-section .invest-section p {
  /* padding: 20px; */
  font-size: 15.5px;
  color: #030405;
}
.access-section .invest-section h4 {
  background: #efe6f8;
  padding: 8px;
  width: 200px;
  margin: 25px auto;
  border-radius: 25px;
  color: #0914b4;
  font-weight: bold;
}
.access-section .invest-section h1 {
  color: #030405;
  font-size: 40px;
}
@media screen and (min-width: 992px) {
  .access-section {
    width: 95vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }
  .access-section .invest-section h4 {
    margin: 30px 0;
  }
  .access-section .invest-section {
    text-align: left;
  }
  .invest-section {
    margin: auto 0;
    max-width: 530px;
    width: 100%;
  }
  .access-section .access-image {
    /* text-align: right; */
    max-width: 450px;
  }
  .access-section .access-iphone {
    /* width: 250px; */
    height: 500px;
  }
  .dotcircle {
    top: 150px;
    left: -25px;
  }
}

@media screen and (max-width: 400px) {
  .access-section .invest-section h1 {
    font-size: 33px;
  }
}
