.customer-section {
  width: 65%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.customer-section .customer-headers h1 {
  font-size: 26px;
}
.customer-section .customer-headers p {
  color: var(--clr-black);
  font-size: 16.3px;
}
.customer-section .customer-headers .customer-createaccount {
  padding-bottom: 25px;
}
