.customer-section {
  width: 65%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.customer-section .customer-headers h1 {
  font-size: 26px;
}
.customer-section .customer-headers p {
  color: var(--clr-black);
  font-size: 16.3px;
}

.customer-section .customer-headers .customer-createaccount {
  padding-bottom: 25px;
}
.customer-section .customer-testimony {
  width: 400px;
  height: 400px;
  overflow: scroll;
  /* border: 1px solid red; */
  margin-top: 60px;
}
.custom-testimony {
  background: var(--clr-primary-0);
  margin-bottom: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: 80px auto;
  animation: scroll 10s linear infinite;
}
/* @keyframe scrolling {
  0% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(-180vh);
  }
} */

.custom-testimony > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.custom-testimony p {
  margin: 0;
}

.custom-testimony > div > p {
  text-align: left;
  font-size: 12px;
  color: var(--clr-black);
  padding-bottom: 2px;
}
.custom-testimony > div > h1 {
  font-size: 12.5px;
  color: var(--clr-black);
  text-align: left;
  padding-top: 8px;
}
.custom-testimony .custom-image {
  padding-top: 20px;
}
.custom-testimony .custom-date {
  text-align: right;
}
