.family-section {
  color: var(--clr-white);
}
.family-section .family-section-header {
  background: #0d60d8;
  padding: 80px;
  text-align: center;
}
.family-section .family-section-header h1 {
  font-size: 40px;
}
.family-section .family-section-header p {
  color: var(--clr-white);
  font-size: 16.3px;
}
.family-section button {
  background: transparent;
  border: none;
  color: var(--clr-white);
  padding-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
.family-section .arrow-icon {
  background: var(--clr-white);
  color: #0d60d8;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  transform: translateY(9px);
  margin-right: 5px;
}
.family-section button:hover {
  cursor: pointer;
}
.family-section .family-section-image {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .family-section {
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto 530px;
  }
  .family-section-image {
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .family-section .family-section-header {
    padding: 30px 20px;
  }
  .family-section .family-section-header h1 {
    font-size: 32px;
  }
}
