.features-section {
  background: var(--clr-primary-0);
  z-index: -1;
}
.features-section .features-title {
  width: 75%;
  margin: 0 auto;
  padding: 50px;
}
.features-section .features-title h1 {
  font-size: 27px;
  font-weight: bold;
  color: #030405;
}
.features-section li {
  width: 20px;
  display: inline;
}
.features-section li img {
  width: 170px;
  padding: 17px;
}
.features-section .featured-list .the-guardian {
  width: 177px;
  transform: translateY(-8px);
}
.features-section .featured-list .the-TC {
  width: 177px;
  transform: translateY(-8px);
}
@media screen and (min-width: 992px) {
  .features-section .features-title {
    display: flex;
    width: 90vw;
    padding: 50px;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .features-section .features-title {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .features-section li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .features-section .features-title {
    padding: 20px;
  }
}
