.footer-section {
  margin: 20px;
}
.footer-section li {
  padding: 8px;
  color: black;
}
.footer-section li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.footer-section .icon-section li {
  display: inline-block;
  color: black;
}
.footer-section p,
.footer-foot p {
  color: var(--clr-black);
}
