.footer-section {
  width: 96vw;
  margin: 3rem auto;
  font-size: 10px;
  padding: 20px 10px;
}
.footer-section .footer-center {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-section .footer-center ul {
  margin: 40px;
}
.footer-section .footer-center .NDPR-image {
  width: 140px;
  height: 95px;
  border: 2px solid rgb(245, 243, 243);
  border-radius: var(--radius3);
}
.footer-section .footer-center .piggyvest-section,
.product-section,
.Legal-section,
.Company-section {
  text-align: left;
}
.footer-section li {
  padding: 5px;
  color: black;
  font-size: 10px;
  justify-self: left;
}
.footer-section li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.footer-section .icon-section {
  text-align: left;
}
.footer-section .icon-section li {
  display: inline-block;
  color: black;
  justify-self: start;
}
.footer-section p,
.footer-foot p {
  color: var(--clr-black);
}
.footer-foot {
  line-height: 1rem;
  max-width: 745px;
  margin: 15px auto;
  line-height: 2;
  font-size: 13px;
}
.footer-foot p {

}
@media screen and (min-width: 990px) {
}
