.footer-section {
}
.footer-section .footer-center {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-section .footer-center ul {
  margin: 40px;
}
.footer-section .footer-center .NDPR-image {
  width: 140px;
  height: 95px;
  border: 2px solid rgb(245, 243, 243);
  border-radius: var(--radius3);

}
.footer-section li {
  padding: 5px;
  color: black;
  font-size: 10px;
  justify-self: left;
}
.footer-section li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.footer-section .icon-section li {
  display: inline-block;
  color: black;
  justify-self: start;
  /* float: left; */
}
.footer-section p,
.footer-foot p {
  color: var(--clr-black);
}
.footer-foot p {
  /* text-align: center; */
  font-size: 10px;
}
