.savings-card {
  width: 330px;
  padding: 3rem 2rem;
  background: var(--clr-primary-0);
  height: 330px;
  border-radius: var(--radius2);
  box-sizing: border-box;
  margin-bottom: 3rem;
}
.savings-card p {
  color: var(--clr-grey-2b);
}

.savings-card .button-icon {
  background: var(--clr-primary);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translateY(30%);
  padding: 2%;
}
.savings-card .four {
  background: #f7d5ea;
  color: var(--clr-red-light);
}

.savings-card .three {
  background: var(--clr-grey-0);
  color: #2eb36c;
}
.savings-card .two {
  color: var(--clr--grey);
}
.savings-card .one {
  background: var(--clr-grey-11);
  color: var(--clr-grey-12);
}
/* @media screen and (min-width: 992px) {
  .savings-card .button-icon,
  .savings-card .button-header, .savings-card .cards-iconic {
    float: left;
    border: 1px solid red;
  }
} */
